<header class="mt-5 w-full flex flex-col justify-center items-center">
    <div id="landing-page" class="min-w-[320px] ml-12">
        <div
            class="bg-[url('assets/blobs/blob3.svg')] bg-no-repeat bg-[length:500px_550px] w-full h-96 bg-center animate-float-img  drop-shadow-xl">
            <div
                class="bg-[url('assets/blobs/blob2.svg')] w-full h-96  bg-[length:420px_400px] flex justify-center items-center  bg-no-repeat  bg-center drop-shadow-2xl">
                <img src="../../../assets/images/img_1.jpg" class="w-64 mx-auto drop-shadow-2xl" style="mask-image: url('assets/blobs/blob1.svg'); mask-size: 100rem;
    mask-repeat: no-repeat;  mask-position: center; mask-size:24rem 20rem;" alt="">
            </div>
        </div>
    </div>

    <section class="text-stone-600">
        <h2 class="text-3xl text-center w-80">Tu nuevo hogar, al alcance con nosotros.</h2>
        <p class="text-center font-bold mt-20">Que es lo que buscas?</p>
        <div class="flex flex-col justify-center items-center gap-10 mt-16 font-bolt ">
            <button class="transition-colors  bg-violet-500 hover:bg-violet-600 rounded-2xl w-48 h-12 text-slate-50"> Arrendar </button>
            <button class="transition-colors  w-48 h-12  outline outline-violet-100 rounded-2xl outline-1 hover:bg-violet-100"> Comprar </button>
            <button class="transition-colors  w-48 h-12 outline outline-violet-100 rounded-2xl outline-1 hover:bg-violet-100"> Vender </button>
        </div>
    </section>


</header>